
 <section class="footer-top py-4">
            <div class="container">
               <div class="row">
                  <div class="col-md-4">
                     <div class="form-inline">
                        <select class="custom-select mr-2">
                           <option>USD</option>
                           <option>EUR</option>
                           <option>RUBL</option>
                        </select>
                        <select class="custom-select">
                           <option>United States</option>
                           <option>Russia</option>
                           <option>Uzbekistan</option>
                        </select>
                     </div>
                     <!-- form-inline.// -->
                  </div>
                  <div class="col-md-4">
                     <form>
                        <div class="input-group">
                           <input type="text" placeholder="Email" class="form-control" name="">
                           <span class="input-group-append">
                           <button type="submit" class="btn btn-success"> Subscribe</button>
                           </span>
                        </div>
                        <!-- input-group.// -->
                     </form>
                  </div>
                  <div class="col-md-4 text-md-right">
                     <a href="#" class="btn btn-icon btn-light"><i class="icofont-facebook"></i></a>
                     <a href="#" class="btn btn-icon btn-light"><i class="icofont-twitter"></i></a>
                     <a href="#" class="btn btn-icon btn-light"><i class="icofont-instagram"></i></a>
                     <a href="#" class="btn btn-icon btn-light"><i class="icofont-youtube"></i></a>
                  </div>
               </div>
               <!-- row.// -->
            </div>
            <!-- //container -->
         </section>